hello-world1/src/main/mule/hello-world1.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="ab10bbec-e47a-4de9-917c-bee0be934e67" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="hello-world1Flow" doc:id="eff5d46a-cc4f-4a1f-b280-e4fd7f2c020d" >
		<http:listener doc:name="Listener" doc:id="49fd4286-95d7-4226-b830-15e5d923ab48" config-ref="HTTP_Listener_config" path="hello"/>
		<set-payload value="#[helloworld]" doc:name="Set Payload" doc:id="36f632ab-dbb8-4ea2-9361-34fdcc90a72b" />
	</flow>
</mule>
